$white: #ffffff;
$black: #000000;

$orange-100: #ff842b;
$orange-200: #ff6b00;
$orange-300: #ed6300;

$green-100: #e1ffd7;
$green-200: #c2e3b7;
$green-300: #8cb97c;
$green-400: #48d618;
$green-500: #41b619;
$green-600: #38a413;

$red-800: #e20338;
$red-900: #c20532;

$silver-100: #f7f4f4;
$silver-200: #eaeaea;
$silver-300: #d7d7d7;

$purple-100: #f2eef5;
$purple-200: #f6ebff;
$purple-300: #ebdcf7;
$purple-400: #b3abbc;
$purple-800: #685879;
